.login-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #f2f2f2;
    width: 30%;
    border: 1px solid red;
}