.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.login-container {
  width: 30%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-form {
  width: 80%;
  margin: auto;
}

.logo-span-login {
  display: flex;

  margin: 0;
  width: max-content;
  transition: transform 0.3s ease-in;
}

.logo-span-login:hover {
  color: #5b5959;
  transform: scale(1.1);
}

#login-logo {
  width: max-content;
  margin: auto;
}

.login-form h3 {
  text-align: center;
}

.login-form-input {
  width: 94.4%;
  border: 1px solid #c7c7c7;
}

#error-display {
  color: red;
  text-align: center;
  font-size: 12px;
}

.button-on-login-page {
  width: 100%;
  border: none;
  background-color: #b6f1dd;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.button-on-login-page:hover {
  background-color: rgb(7, 138, 99);
  color: #fff;
}

@media (max-width: 768px) {

    .login-container {
        width: 100%;
        height: 100%;
        padding-top: 20%;
    }
    
}