.container {
    height: 700px;
}

.title {
    font-size: 2.5rem;
    text-align: center;
}

.review-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.individual-container {
    width: 40%;
    border: 1px solid gray ;
    padding: 20px;
    height: max-content;
}

.company {
    color: yellow;
}

.words {

    flex-wrap: wrap;
}

.user-label {
    display: flex;
}

.image img {
    height: 40px;
    width: 40px;
}

.user-info {
    height: 40px;
}